# Ignorar entornos virtuales de Python
**/venv/
**/env/
.venv/

# Ignorar archivos temporales y caché de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos temporales de oficina o del sistema
.DS_Store
Thumbs.db
